body {
	background: #fff;
}
.header {
	background: #4561a1 url(../images/diamonds.png);
	margin-top: 0;
}
.HomePage .header {
	background: #4561a1 url(../images/whitetop.gif) repeat-x 0 0;
}
.HomePage .main-nav a {
	color: #333;
	text-shadow: none;
}
.home-quicklinks .quicklinks-title span {
	color: #ddd;
}
.home-orbit li img {
	margin: 1px;
}
.home-orbit li iframe {
	border: 10px solid white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	margin: 1px;
}
.projects-home {
	background-color: #fff;
	padding: 3em 0;
	& .subtitle {
		margin-bottom: 2em;
	}
	& img, & iframe {
		display: block;
		width: 100%;
		border: 5px solid white;
		box-shadow: 0 0 0 1px rgba(0,0,0,.25);
	}
	& h5 {
		font-weight: bold;
		margin-top: 10px;
	}
	& a {
		color: #333;
	}
}
.mission {
	background: #89c762 url(../images/diamonds.png);
	color: #fff;
	padding: 3em 0;
	text-align: center;
	& p {
		font-family: georgia, serif;
		font-size: 1.225rem;
		line-height: 180%;
		margin-top: 1em;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	}
}
.board-list {
	background-color: #fff;
}
.social-blog {
	background-color: #f4f4f4;
	border-top: 1px solid #ddd;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
	@media #{$large-up} {
		&:before {
			opacity: 0;
		}
	}
}
.footer {
	margin-top: 0;
}